@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/GOTHAM-BOLD.TTF") format("truetype");
  font-style: normal; }
* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Gotham-Medium';
  src: url("../fonts/GOTHAM-MEDIUM.OTF") format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'Gotham-Black';
  src: url("../fonts/GOTHAM-BLACK.OTF") format("truetype");
  font-style: normal; }
.dark, .nav-main, h1, .content-col, li.entry {
  background-color: #3F3C46; }

.light, body, .icon-id {
  background-color: #2C2D2D; }

.main {
  height: calc(100% - 50px); }

.entry-hover, li.entry .article-wrap:hover {
  background-color: #7544D3; }
  .entry-hover a, li.entry .article-wrap:hover a {
    color: white; }

body {
  font-family: 'Gotham-Bold';
  color: white;
  overflow: hidden !important;
  overflow-x: hidden;
  overflow-y: hidden; }
  body a,
  body p {
    color: white;
    text-decoration: none;
    font-size: 12px; }
    body a:hover,
    body p:hover {
      text-decoration: none;
            /*            color: #EDCE4F;
*/ }

.fa {
  font-size: 24px; }
  .fa:focus {
    outline: none;
    color: white; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #A461FF;
  position: absolute;
  top: 13px;
  right: -1px; }

.logo-header {
  height: 50px; }

.v-align, .gradient .media-title, .gradient-top-border .media-title, li.entry .article-wrap .article, .option-box .selected p {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.gradient, .gradient-top-border {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8); }
  .gradient .media-title, .gradient-top-border .media-title {
    width: 90%;
    float: left; }

.gradient-top-border {
  background-color: transparent;
  border-top: 2px solid #EDCE4F;
  display: none; }

.comments-icon {
  position: absolute;
  right: 8px;
  bottom: 15px;
  font-size: 12px;
  z-index: 5;
  display: none; }

li {
  margin: 0; }

select {
  color: black; }

.nav-main, h1 {
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  color: white; }

.bal-wrapper, .gamb-top-half, .gamb-bottom-half {
  width: 100%;
  padding: 20px 20px 0px 20px; }

.gamb-top-half, .gamb-bottom-half {
  height: calc(50% - 20px);
  position: relative; }
  .gamb-top-half .gamb-col-container, .gamb-bottom-half .gamb-col-container, .gamb-top-half .content-col, .gamb-bottom-half .content-col {
    width: calc(100% - 10px); }

.gamb-bottom-half {
  padding-right: 27px; }
  .gamb-bottom-half .content-col {
    width: 100%; }
  .gamb-bottom-half .gamb-col-container, .gamb-bottom-half .content-col {
    width: 100%; }

.row {
  width: 100%;
  margin-right: 0;
  margin-left: 0; }
  .row .one-third.column {
    width: 33.333%;
    position: relative;
    margin-left: 0; }
    .row .one-third.column:nth-child(2) .col-wrap {
      margin: 0 auto; }
    .row .one-third.column:nth-child(3) .col-wrap {
      float: right; }
  .row .two-thirds.column {
    width: 70%;
    margin-left: 0; }

.col-bal {
  width: 30%;
  height: calc(100% - 50px);
  position: relative; }

.padded, .news-selector, li.entry {
  min-height: 30px;
  margin-bottom: 10px;
  padding: 3px; }

.gamb-col-container, .content-col {
  width: calc(100% - 10px); }

.col-wrap {
  width: 400px;
  margin: 0; }

.content-col {
  text-align: center; }

.news-selector {
  border-radius: 2px;
  width: calc(100% - 20px);
  height: 40px;
  position: relative; }
  .news-selector select {
    height: 20px; }

.icon-id {
  position: absolute;
  left: -3px;
  top: -3px;
  width: 24px;
  height: 36px; }

.nav-wrap, .media-toggle {
  display: inline-block;
  padding-right: 20px;
  padding-top: 10px;
  float: right; }
  .nav-wrap img, .media-toggle img {
    height: 30px;
    width: 30px;
    margin-right: 10px; }

.media-toggle {
  padding: 8px;
  margin-right: 20px;
  position: absolute;
  right: 0;
  bottom: -16; }

li.entry {
  border-radius: 2px;
  font-size: 12px;
  list-style-type: none; }
  li.entry .article-wrap {
    position: relative;
    height: 30px;
    width: 100%;
    border-radius: 3px;
    overflow-x: auto;
    overflow-y: hidden; }
    li.entry .article-wrap:hover .icon-id {
      display: none; }
    li.entry .article-wrap:hover .comments-icon {
      display: block; }
    li.entry .article-wrap .comments-icon {
      right: 2px;
      bottom: 4px; }
      li.entry .article-wrap .comments-icon .fa {
        font-size: 20px;
        opacity: 0.5; }
    li.entry .article-wrap .article {
      padding-left: 30px;
      padding-right: 30px;
      white-space: nowrap;
      display: inline-block;
      width: calc(100% - 30px);
      overflow: hidden; }
      li.entry .article-wrap .article .comments-icon {
        right: 5px;
        bottom: 1px; }
        li.entry .article-wrap .article .comments-icon .fa {
          font-size: 20px;
          opacity: 0.5; }
    li.entry .article-wrap img {
      position: absolute;
      left: -3px;
      top: -3px;
      height: 36px; }

.scroll-col {
  position: relative;
  overflow-y: auto;
  padding-right: 5px;
  height: 100%; }

.media-border-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 4px solid white;
  display: none; }

li.media-entry, .gamb-media {
  width: 32%;
  height: 220px;
  position: relative;
  list-style-type: none;
  margin-right: 2%;
  margin-bottom: 1.5%; }
  li.media-entry:hover .comments-icon, .gamb-media:hover .comments-icon {
    display: block; }
  li.media-entry img, .gamb-media img {
    width: 100%;
    height: 100%; }
  li.media-entry a, .gamb-media a {
    cursor: pointer; }
  li.media-entry .media-wrap, .gamb-media .media-wrap {
    position: relative;
    width: 100%; }
    li.media-entry .media-wrap p, .gamb-media .media-wrap p {
      font-family: 'Gotham-Medium';
      font-size: 13px;
      text-align: center;
      margin: 0 auto;
      padding: 5px; }
    li.media-entry .media-wrap:hover .media-border-hover, .gamb-media .media-wrap:hover .media-border-hover {
      display: block; }
    li.media-entry .media-wrap:hover .gradient-top-border, .gamb-media .media-wrap:hover .gradient-top-border {
      display: block; }

.gamb .one-third column {
  width: 400px;
  margin: 0; }

.gamb-media {
  width: 24%;
  height: 220px;
  margin-right: 1.3333%;
  margin-bottom: 1%; }

#select_container_2 {
  margin-top: 4px; }

md-input-container {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  vertical-align: middle; }

.media-entry:nth-child(3n) {
  margin-right: 0; }

.gamb-media:nth-child(4n) {
  margin-right: 0; }

.gamb-top-half .news-selector, .gamb-bottom-half .news-selector {
  width: calc(100% - 20px); }

.modal-size {
  width: 848;
  height: 480; }

.modal-dialog {
  width: 0%;
  margin: 30px auto; }

.ig-modal {
  width: 450px;
  height: 100%; }
  .ig-modal .modal-content {
    width: 450px;
    height: 100%; }

.modal-content {
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.vid-pos {
  position: static; }

.option-box {
  position: relative;
  z-index: 5;
  width: 200px;
  margin: 0; }
  .option-box .selected {
    padding: 5px;
    border: none; }
    .option-box .selected:focus {
      outline: none; }
    .option-box .selected p {
      margin: 0;
      padding: 0;
      font-size: 14px;
      transform: none; }
  .option-box:hover {
    background-color: #7544D3;
    border-radius: 3px; }
    .option-box:hover .arrow-down {
      display: none; }

.options {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0; }

ul.options {
  overflow: auto;
  max-height: 300px; }

.options li {
  background-color: #fff;
  font-family: 'Gotham-Black';
  display: inline-block;
  color: #9B9B9B;
  width: 100%;
  padding: 5px;
  padding-left: 15px;
  margin: 0;
  text-align: left; }

.options li:hover {
  background-color: #EDCE4F;
  cursor: pointer;
  color: white; }

.media-list {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  width: 100%; }

.scroll-col::-webkit-scrollbar {
  width: 5px;
  height: auto; }

.scroll-col::-webkit-scrollbar-track {
  background-color: #2C2D2D;
  -webkit-border-radius: 0px;
  width: 1px; }

.ig-height {
  height: 50% !important; }

.scroll-col::-webkit-scrollbar-thumb:vertical {
  background-color: #9B9B9B;
  -webkit-border-radius: 1px;
  height: auto; }

.carousel-inner > .item > img {
  display: inline;
  width: 33%;
  height: 100%; }
  .carousel-inner > .item > img.ig-gambler {
    width: 24%; }

.carousel-control {
  height: 286px;
  top: auto; }
  .carousel-control.right {
    right: 40px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.1) 100%); }

.carousel-indicators {
  display: none; }

.carousel-slide {
  display: inline-block;
  position: relative;
  width: 33%;
  height: 100%; }
  .carousel-slide img {
    width: 100%;
    height: 100%; }
  .carousel-slide.ig-gambler {
    width: 24%; }
  .carousel-slide a {
    cursor: pointer; }
  .carousel-slide .media-title p {
    margin: 0; }
  .carousel-slide:hover .media-border-hover {
    display: block; }
  .carousel-slide:hover .comments-icon {
    display: block; }

@media (max-width: 400px) {
  .col-bal {
    width: 100%; }

  .bal-wrapper, .gamb-top-half, .gamb-bottom-half {
    padding: 0; } }
@media (max-width: 1368px) {
  .two-thirds.column {
    padding-left: 25px; } }
@media (max-width: 1300px) {
  .two-thirds.column {
    padding-left: 50px; } }
@media (max-width: 1233px) {
  .gamb-top-half div.one-third.column:nth-child(2), .gamb-bottom-half div.one-third.column:nth-child(2) {
    display: none; }

  .gamb-top-half div.one-third.column:nth-child(3), .gamb-bottom-half div.one-third.column:nth-child(3) {
    float: right; } }
@media (max-width: 1218px) {
  .two-thirds.column {
    padding-left: 65px; }

  li.media-entry, .gamb-media {
    height: 190px; } }
@media (max-width: 1161px) {
  .two-thirds.column {
    padding-left: 80px; }

  li.media-entry, .gamb-media {
    width: 49%;
    height: 220px;
    margin-right: 2%; }
    li.media-entry:nth-child(2n), .gamb-media:nth-child(2n) {
      margin-right: 0; }
    li.media-entry:nth-child(odd), .gamb-media:nth-child(odd) {
      margin-right: 2%; }

  .gamb-media {
    width: 32%;
    margin-right: 2%; }
    .gamb-media:nth-child(2) {
      margin-right: 2%; }
    .gamb-media:nth-child(1) {
      margin-right: 2%; }
    .gamb-media:nth-child(3n) {
      margin-right: 0px; } }
input[type="radio"] {
  display: none; }

input[type="radio"]:checked + label {
  border-color: #EDCE4F; }

input[type="radio"]:checked + label:after {
  transform: scale(0.7);
  background: #EDCE4F; }

label {
  display: inline-block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background: #6C05AC;
  margin-right: 3px;
  border: 6px solid #7544D3;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: .2s; }

label:before {
  content: '';
  position: absolute;
  display: block;
  height: 300%;
  width: 300%;
  top: -100%;
  left: -100%;
  z-index: -1;
  border-radius: 50%;
  transition: .3s; }

label:after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background: #009688;
  border-radius: 50%;
  background-size: contain;
  transform: scale(0);
  transition: .2s; }

label:active:before {
  background: #bfbfbf; }

@media (max-width: 1115px) {
  .two-thirds.column {
    padding-left: 110px; }

  li.media-entry, .gamb-media {
    height: 190px; } }
@media (max-width: 998px) {
  .two-thirds.column {
    padding-left: 120px; }

  li.media-entry, .gamb-media {
    height: 190px; } }
@media (max-width: 939px) {
  .two-thirds.column {
    padding-left: 135px; } }
@media (max-width: 922px) {
  .two-thirds.column {
    padding-left: 140px; }

  li.media-entry, .gamb-media {
    width: 100%;
    height: 260px;
    margin-right: 0; }
    li.media-entry:nth-child(odd), .gamb-media:nth-child(odd) {
      margin-right: 0%; }

  .gamb-media {
    width: 32%;
    margin-right: 2%; }
    .gamb-media:nth-child(2) {
      margin-right: 2%; }
    .gamb-media:nth-child(1) {
      margin-right: 2%; }
    .gamb-media:nth-child(3n) {
      margin-right: 0px; } }
@media (max-width: 881px) {
  .two-thirds.column {
    padding-left: 150px;
    width: 569px !important; }

  .bal-wrapper, .gamb-top-half, .gamb-bottom-half {
    width: 881px; }

  .gamb-media {
    width: 49%;
    margin-right: 0; }
    .gamb-media:nth-child(odd) {
      margin-right: 2%; }
    .gamb-media:nth-child(even) {
      margin-right: 0; } }
@media (max-width: 745px) {
  .gamb-media {
    width: 400px;
    margin: 0; }
    .gamb-media:nth-child(odd) {
      width: 400px;
      margin-right: 0; }
    .gamb-media:nth-child(even) {
      width: 400px;
      margin-right: 0; } }
@media (max-width: 400px) {
  .column {
    margin-left: 0; }

  .gamb-media {
    width: 100%; }

  .bal-wrapper, .gamb-top-half, .gamb-bottom-half {
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */
